@use 'fonts';
$main-font-size:16px;
$quicksand-font-family:'Quicksand';
$roboto-font-family:'Roboto';
$nunito-font-family:'Nunito';
$main-background:#fff;
$main-font-color:#16133D;
$container-width:1170px;
$border-color:#EFEEF3;
$color-green:#3DB370;